<!DOCTYPE html>
<html ng-app>
  <head>
      <title>Error </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


    <h1>Error: <%= bag.error.status %></h1>
    <h2> <%= bag.error.msg %></h2>

  </body>
</html>
