<!DOCTYPE html>
<html ng-app>
  <head>
      <title>Weather App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


    <h1>Error: <%= bag.errcde %></h1>
    <h2> <%= bag.errmsg %></h2>

  </body>
</html>
